@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Light theme arrows */
.swiper-button-next,
.swiper-button-prev {
    color: #10b981;
    /* Tailwind emerald-500 */
    transition: color 0.3s ease, transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #059669;
    /* emerald-600 */
    transform: scale(1.1);
}

/* Dark theme arrows */
.dark .swiper-button-next,
.dark .swiper-button-prev {
    color: #34d399;
    /* emerald-400 */
}

.dark .swiper-button-next:hover,
.dark .swiper-button-prev:hover {
    color: #6ee7b7;
    /* emerald-300 */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.25rem;
    /* Adjust arrow icon size */
    font-weight: bold;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.dark body {
    background-color: #000;
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 1.2s ease-out both;
    }

    .animate-slide-up {
        animation: slideUp 1.2s ease-out both;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}